a{
  color: #000;
  text-decoration: none;
}

.box{
  width: 400px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  
  /* text-align 기본값은 left, 이미지도 정렬, 부모요소에게 적용할 것 */
  text-align: center;
}


.google{
  border: 4px solid blue;
}

.naver{
  border: 4px solid green;
}

img{
  width: 300px;
}

.text-bold{
  font-weight: 700;
}

.text-green{
  color: green;
}