li{
  list-style: none;
  padding: 8px;
  color: #fff;
}
.nav{
  /*border: 3px solid orange;*/

  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img{
  width: 30px;
}

.menu-list{
  display: flex;
}

.bg-img{

  /*border: 3px solid red;*/

  height: 400px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title{
  color: white;
  margin: 0;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}