/*모든태그 기본속성*/
*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.global-header{
  background-color: #333;  
  display: flex;
  /*수직 가운데 정렬*/
  align-items: center;
  /*수평 양 끝 정렬*/
  justify-content: space-between;
  padding: 12px 20px;
}

.logo img{
  width: 60px;
}

.gnb-list{
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.gnb-list li a{
  color: #fff;
  font-weight: 700;
/*  padding: 0 20px; */

}

/* 사용자가 a태그에 마우스 올렸을 때 hover */
.gnb-list li a:hover{
  color: dodgerblue;
  text-decoration: underline;
}

.back-img{
  height: 600px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 방향이 바꼈을 때 수평정렬 */
  text-align: center;
  height: 600px;
  color: #fff;
}

.back-text p, button{
  margin-top: 20px;
}

.back-text p{
  font-size: 18px;
}

.back-text button{
  padding: 12px;
  border-radius: 10px;
}

.second-box{
  width: 500px;
  /* margin 방향 : top right bottom right  */
  margin: -66px auto 0 auto;
  /* 값을 두개 쓸 때 top, bottom/ right, left */
  padding: 40px 36px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  background-color: #000;
}

.second-box p{
  margin-top: 24px;
}